<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="logo" routerLink="/recipes">Studio Designer</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">
      <i class="material-icons">list</i>
    </mat-icon>
    <mat-icon class="example-icon" (click)="openDialog()">
      <i class="material-icons">add</i>
    </mat-icon>
    <mat-icon class="example-icon" (click)="openMenu()">
      <i class="material-icons">menu</i>
    </mat-icon>
  </mat-toolbar-row>
</mat-toolbar>